---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from '../layouts/home.astro';
import Carouselmv from '../components/carouselmv.astro';
import Pronostico from '../components/pronostico.astro';
import Noticias from '../components/noticias.astro';
---


<Home>
	<Carouselmv/>
	<br>
	<Pronostico/>
	<main>
		<Noticias/>
	</main>
</Home>


