---
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const url = 'https://data.copeco.gob.hn';
const alerta = await directus.request(readSingleton("alertas"));
---
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script is:inline>
  AOS.init();
</script>

<style>
    .member {
     padding: auto;
     margin: 10px;
     display: block;
     width: auto;
     height: 600px;
     /* // border: 2px solid;
     // border-radius: 5px; */
     box-shadow: 10px 5px 5px rgb(228, 216, 216);
   }
   </style>

<section id="team" class="team section-bg" data-aos="fade-right" >
    <div class="container-fluid">
        <div class="section-title" >
            <h2>Ultima<strong> Alerta</strong></h2>
            <p></p>
          </div>
          <div class="card text-center">
            <img src=`${url}/assets/${alerta.imagen3}` alt="">
            <div class="card-body">
                <h1 class="card-title">{alerta.titulo}</h1>
                <p class="card-text">{alerta.contenido}</p>
                <a href="/alertas" class="btn btn-primary">Mas Informacion</a>
            </div>
          </div>
          
           
          
    </div>
    </section>
   
