---





---
 <style>
  .subsecretario{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

 </style>


<section id="team" class="team section-bg">
    <div class="container">
  
      <div class="section-title" data-aos="fade-up">
        <h2>Conoce Nuestras <strong>Direccion</strong></h2>
        <p></p>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Secretario de Estado En los Despachos de Gestion del riesgo y Contigencias nacionales</h4>
              <span>ViceAlmirante &#174;  Jose Jorge Fortin</span>
            </div>
          </div>
        </div>

      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="" class="img-fluid" alt="" width="300px" height="100px">
                <div class="social">
                  <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Subsecretario en los despachos de Gestion del riesgos y contigencias nacionales</h4>
                <span>Lic. Jose Benedicto Santos Castro</span>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="" class="img-fluid" alt="" width="300px" height="100px">
                <div class="social">
                  <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Subsecretario en los despachos de Gestion del riesgos y contigencias nacionales</h4>
                <span>Lic. Jose Benedicto Santos Castro</span>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion Administrativa Financiera</h4>
              <span>Lic. Jorge Omar Rivera</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="100px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion de Recursos Humanos</h4>
              <span>
                Lic. Issel Medina
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion Nacional de Preparacion y Respuesta</h4>
              <span>Ing. Ivan Montalvo</span>
            </div>
          </div>
        </div>
  
      
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Centro Nacional de Estudios Atmosferico Oceanograficos y Sismicos CENAOS</h4>
              <span>Director Francisco Argeñal</span>
            </div>
          </div>
        </div>
  
       
  
      </div>
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion Nacional de Emergencia Sanitaria</h4>
              <span>Lic. Elena JassminLarios Moradel </span>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="150px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion de Tecnologias de la Informacion y Comunicacion TIC</h4>
              <span>Director Ing. Jose Albert Valladares</span>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Dirreccion de Cooperacion Internacional</h4>
              <span>Ing. Jorge A. reyes Cardenas</span>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="300px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Centro Nacional de Capacitaciones CENICAC</h4>
              <span>Director Ing. Gonzalo Funes</span>
            </div>
          </div>
        </div>
  
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="100px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Secretario General</h4>
              <span>Abogado Denis Alejandro Ramirez Maradiaga</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="100px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion de Proyeccion Social </h4>
              <span>
                Cristian Jose Cubas Alvarado
              </span>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="100px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion de Comunicacion Social</h4>
              <span>
                Lic. Jose Reyniery Nuñez
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="" class="img-fluid" alt="" width="100px" height="100px">
              <div class="social">
                <a href="https://twitter.com/CopecoHonduras1?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/copeco.hn"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/copecohn/"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Direccion Unidad Medica de Emergencia</h4>
              <span>
                Dr. Alan Mauricio
              </span>
            </div>
          </div>
        </div>



      </div>

     
  
    </div>
  </section>