---



const {title} =  Astro.props;
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";

const header = await directus.request(readSingleton("header"));

---




<header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center">
  
  <!-- <h1 class="logo me-auto"><a href="index.html"><span>Co</span>peco</a></h1> -->
  <!-- Uncomment below if you prefer to use an image logo -->
  <a href="/" class="logo1 me-auto me-lg-0"><img  src={`https://data.copeco.gob.hn/assets/${header.Logo}`} alt="" class="img-fluid"></a>
  <h1 class="logo me-auto"><a href="/"><span>Co</span>peco</a></h1>
  <nav id="navbar" class="navbar order-last order-lg-0">
    
    <ul>
      <li><a href="/" class="active">Inicio</a></li>

      <li class="dropdown"><a href="#"><span>Acerca de Nosotros</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <!-- <li><a href="misionyvision">vision y mision</a></li> -->
          
          <li class="dropdown"><a href="#"><span>COMITES</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="cocoin">COCOIN</a></li>
              <li><a href="probidad">COMITE PROBIDAD Y ETIQUETA</a></li>
            </ul>
            <li class="dropdown"><a href="#"><span>MARCO ESTRATEGICO</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="mision">MISION Y VISION</a></li>
              </ul>
          </li>
          
        </li>
        <li class="dropdown"><a href="#"><span>ESTRUCTURA ORGANIZACIONAL</span> <i class="bi bi-chevron-right"></i></a>
          <ul>
            <li><a href="/img/ORGANIGRAMAINSTITUCIONALDECOPECO.pdf">ORGANIGRAMA</a></li>
          </ul>
        </ul>
      </li>

      <li class="dropdown"><a href="#"><span>ENLACES INSTITUCIONALES</span><i class="bi bi-chevron-down"></i></a>
        <ul>
          <li class="dropdown"><a href="#"><span>SISTEMAS COPECO</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="https://correo.copeco.gob.hn">CORREO<i class="bi bi-envelope"></i></a></li>
            <li><a href="http://cenaos.copeco.gob.hn">CENAOS<i class="bi bi-cloud"></i></a></li>
            <li><a href="https://data.copeco.gob.hn/admin/login">SISTEMAS DE EMERGENCIA<i class="bi bi-exclamation-octagon"></i></a></li>
            <li><a href="http://acciones.copeco.gob.hn/BodegaCopeco/">BODEGAS<i class="bi bi-shop"></i></a></li>
            <li><a href="http://geonode.copeco.gob.hn">GEOPORTAl<i class="bi bi-geo-alt"></i></a></li>
            <li><a href="http://cenicac.copeco.gob.hn">CENICAC<i class="bi bi-book"></i></a></li>
            <li><a href="dcgne">DCGNE<i class="bi bi-book"></i></a></li>
            </ul>
            <li class="dropdown"><a href="#"><span>SISTEMAS EXTERNOS</span> <i class="bi bi-chevron-right"></i></a>
           <ul>
            <li><a href="https://portalunico.iaip.gob.hn/portal=339">PORTAL DE TRANSPARENCIA</a></li>
            <li><a href="https://sielho.iaip.gob.hn/inicio/">SIEHLO</a></li>
          <li><a href="https://honducompras.gob.hn">HONDUCOMPRAS</a></li>
          <li><a href="https://www.tsc.gob.hn">TSC</a></li>
          <li><a href="https://www.onadici.gob.hn">ONADICI</a></li>
           </ul>
        </ul>
    </li>
   
      
      <li><a href="servicios">Servicios en linea</a></li>
      
    </ul>
    <i class="bi bi-list mobile-nav-toggle" ></i>
    
  </nav><!-- .navbar -->
  <div class="header-social-links d-flex">
    <a href="https://twitter.com/CopecoHonduras1" class="twitter"><i class="bu bi-twitter"></i></a>
    <a href="https://www.facebook.com/HondurasCopeco" class="facebook"><i class="bu bi-facebook"></i></a>
    <a href="https://www.instagram.com/copecohn/?hl=es-la#" class="instagram"><i class="bu bi-instagram"></i></a>
  </div>

    </div>
    
    
    
  </header><!-- End Header -->